.intro {
    min-height: 90vh;
    /* padding: 45vh 0; */
}
.intro-left {
    
    padding: 45vh 0;

}
.img-avatar {
    width: 100%;
    height: auto;
    border-radius: 59% 23% 77% 41%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10vh 0;
    
}